<lib-page-header
  title="Orders Remote"
  subtitle="This content is coming from the orders micro-frontend">
</lib-page-header>

<p *ngIf="loading()">Loading orders....</p>
<p *ngIf="error()">{{ error() }}</p>

<div *ngIf="!loading() && !error()">
  <p>Total orders: {{ totalOrders() }}</p>
  <p>Pending orders: {{ pendingOrders() }}</p>
  <p>Total revenue: {{ totalRevenue() }} </p>

  <app-create-order></app-create-order>

  <button type="button" (click)="createMockOrder()">Create Mock Order</button>

  <app-orders-list [orders]="orders()"
                 (orderSelected)="onOrderSelected($event)"
                 (orderDeleted)="deleteOrder($event)">
  </app-orders-list>

</div>



